<input [(ngModel)]="input" (keyup)="cambio()" type="text" pInputText placeholder="scan here" class="p-mb-4" />
<p-toggleButton style="margin: 20px;" [(ngModel)]="aumentarStock" onLabel="AumentarStock" offLabel="DisminuirStock"></p-toggleButton>
<p-table [value]="products" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Products
            <p-button (click)="this.products = []; this.total=0;" icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>codigo</th>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th>Cantidad</th>
            <th>Stock</th>
            <th>Actions</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.nombre}}</td>
            <td><div style="width: 80px"><img
                [src]="
                    product.imagen
                        ? obtenerUrl(
                              product.imagen
                          )
                        : '/assets/shared/default-product.webp'
                "
                class="img-fluid"
                alt="Shopping item"
            /></div></td>
            <td>{{product.precio}}</td>
            <td>{{product.cantidad}}</td>
            <td>{{product.stock_cantidad}}</td>
            <td class="flex gap-3">
                <p-button
                    (click)="eliminar(product)"
                    icon="pi pi-times"
                    [rounded]="true"
                    severity="danger"
                    [outlined]="true"
                ></p-button>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{products ? products.length : 0 }} products.
        </div>
    </ng-template>
</p-table>
<div class="card" style="background-color: rgb(141, 104, 176); border-radius: 0px;">
    <div class="card-body">
        <h5 class="card-title
        " style="color: white;">Caja</h5>
        <p class="card-text" style="color: white;">Precio Total: $ {{total}}  </p>
        <button style="margin-top: 10px;" class="btn btn-primary" (click)="finalizar()">Finalizar</button>
</div>