.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 1.5rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;
    color: var(--primary-text);

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
