<!-- Footer -->
<footer class="mt-6 text-center text-white layout-footer">
    <div class="container p-4">
        <section class="mb-4">
            <a
                mdbRipple
                class="btn btn-outline-light btn-floating m-1"
                href="https://www.instagram.com/insumoscami/"
                role="button"
                ><i class="pi pi-instagram"></i
            ></a>
        </section>
        <section class="">
            <div class="row d-flex justify-content-center">
                <div class="col-auto">
                    <p class="pt-2" style="color: white">
                        <strong
                            >Seguinos en instagram para enterarte de las últimas
                            novedades!</strong
                        >
                    </p>
                </div>
            </div>
        </section>
        <section class="mb-8 mt-4">
            <p style="color: white">
                ¡Bienvenido a Insumos Cami, tu destino para todo lo relacionado
                con la repostería y las golosinas! Nuestra tienda ofrece una
                amplia gama de productos que van desde ingredientes de alta
                calidad para repostería hasta una irresistible selección de
                golosinas. También contamos con artículos de cotillón para
                animar tus celebraciones. ¿No puedes visitarnos? No hay
                problema, ofrecemos envíos a todo el país. ¡Ven y descubre la
                dulce experiencia de Insumos Cami!
            </p>
        </section>
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase" style="color: white">
                        Dirección
                    </h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white"
                                >Avenida Artigas 1411, Sauce, Canelones, Uruguay
                                9500</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase" style="color: white">Horario</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white"
                                >⏱️L-V 9:30-13:30 y 15:30-19:00 Sab
                                9:00-14:00</a
                            >
                        </li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase" style="color: white">Envios</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white">🚚Envios a todo el pais</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase" style="color: white">
                        Telefono
                    </h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a class="text-white">095 338 293</a>
                        </li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white">WMNH</a>
    </div>
</footer>
